.success {
    color: green;
}

.error {
    color: red;
}

.show-pass-button {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    color: grey;
}

.formulario {
    display: flex;
    align-items: center;
    gap: 20px;
}

.email-input-container {
    position: relative;

    & input {

        width: 100%;
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        flex-grow: 1;
        font-size: 1rem;
        font-family: 'Arial', sans-serif;

        &:focus {
            outline: none;
            border-bottom: #007bff solid 2px;
        }

        & label {
            position: absolute;
            left: 10px;
            top: 10px;
            transition: all 0.2s ease-out;

            pointer-events: none;

            color: #999;

        }
    }

    & label {
        position: absolute;
        left: 10px;
        top: 10px;
        transition: all 0.2s ease-out;
        pointer-events: none;
        color: #999;
    }
}

.email-input-container input:focus+label,
.email-input-container input:not(:placeholder-shown)+label {
    top: -15px;
    font-size: 0.9em;
    color: #007bff;
}




/* Contenedor para el input y el botón */
.password-input-container {
    position: relative;
}

/* Estilos para el input dentro del contenedor */
.password-input-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    /* Ajusta el padding del input */
    padding: 10px;
    /* Permite que el input ocupe el espacio restante */
    flex-grow: 1;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;

    &:focus {
        outline: none;
        border-bottom: #007bff solid 2px;
    }
}

.password-input-container label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all 0.2s ease-out;
    /* Permite hacer clic en el input a través del label */
    pointer-events: none;
    color: #999;
}

.password-input-container input:focus+label,
.password-input-container input:not(:placeholder-shown)+label {
    /* Sube el label */
    top: -15px;
    /* Hace el texto más pequeño */
    font-size: 0.9em;
    /* Cambia el color */
    color: #007bff;
}



/* Estilos para el botón de mostrar/ocultar contraseña */
.password-input-container .show-pass-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;
}

.password-input-container .show-pass-button:hover {
    color: #0056b3;
}

.password-label p {
    margin-top: 5px;
    font-size: 0.9rem;
    font-family: 'Arial', sans-serif;
}

.submit-button {
    background-color: #007bff;
    padding: 10px 20px;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.logout-button {
    background-color: red;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    margin-inline: 20px;
    transition: .6s ease;
    font-size: 1.1rem;

    &:hover {
        transform: scale(0.9);
    }
}

.error-message {
    background-color: #FFF9B1;
    padding: 5px;
    color: red;
    position: absolute;
}